<h3>{{feedbackCtrl.title}}</h3>
<ul>
    <li ng-repeat="feedback in feedbackCtrl.feedbacks">
        <blockquote>
            <p>Stars: {{feedback.stars}}</p>
            {{feedback.body}}
            <cite> by: {{feedback.author}}</cite>
        </blockquote>
    </li>
</ul>
<form mane="feedbackForm" ng-submit="feedbackCtrl.addFeedback(feedbacks)">
    <blockquote>
        <b>Stars: {{feedbackCtrl.feedback.stars}}</b>
        {{feedbackCtrl.feedback.body}}
        <cite> by: {{feedbackCtrl.feedback.author}}</cite>
    </blockquote>
        <fieldset class="form-group" ng-controller="ratingController as ratingCtrl">
            <uib-rating ng-model="feedbackCtrl.feedback.stars" max="ratingCtrl.max" readonly="ratingCtrl.isReadonly" on-hover="ratingCtrl.hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            <span class="label" ng-class=  "{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
        </fieldset>
        <fieldset class="form-group">
            <input ng-model="feedbackCtrl.feedback.author" type="email">
        </fieldset>
        <fieldset class="form-group">
        <textarea ng-model="feedbackCtrl.feedback.body" placeholder="type your feedback"></textarea>
        </fieldset>
        <fieldset class="form-group">
        <input class="btn btn-default pull-right btn-lg" type="submit" value="Submit feedback">
        </fieldset>
</form>