<h2>{{feedbackCtrl.feedbackObj.title}}</h2>
<ul class="col-lg-10">
    <li ng-repeat="feedback in feedbackCtrl.feedbacks">
        <blockquote>
            <p>Stars: {{feedback.stars}}</p>
            {{feedback.body}}
            <p> by: {{feedback.author}}</p>
        </blockquote>
    </li>
</ul>
<fieldset class="form-group col-md-8"><legend>{{feedbackCtrl.legend}}</legend>
    <form name="feedbackForm" class="form-horizontal" ng-submit="feedbackCtrl.addFeedback(feedback)">
        <blockquote>
            <b>Stars: {{feedbackCtrl.feedback.stars}}</b>
            {{feedbackCtrl.feedback.body}}
            <cite> by: {{feedbackCtrl.feedback.author}}</cite>
        </blockquote>
            <fieldset class="form-group" ng-controller="ratingController as ratingCtrl">
                <uib-rating ng-model="feedbackCtrl.feedback.stars" max="ratingCtrl.max" readonly="ratingCtrl.isReadonly" on-hover="ratingCtrl.hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            </fieldset>
            <fieldset class="form-group">
                <input class="form-control" ng-model="feedbackCtrl.feedback.author" type="email" placeholder="Email">
            </fieldset>
            <fieldset class="form-group">
            <textarea class="form-control" ng-model="feedbackCtrl.feedback.body" placeholder="Type your feedback"></textarea>
            </fieldset>
            <fieldset class="form-group">
            <input class="btn btn-default pull-right btn-lg" type="submit" value="Submit feedback">
            </fieldset>
    </form>
</fieldset>